.banner {
    position: absolute;
    top: 0;
    background: green;
    width: 100%;
    text-align: center;
    padding: 4px;
    color: white;
}

.logout-button {
    float: right;
    margin-right: 10px;
    background: white;
    padding: 4px;
    border-radius: 2px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}